{% extends 'base.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url_for('main.home') }}">Home</a></li>
    <li class="breadcrumb-item active">Data Structures</li>
{% endblock %}

{% block content %}
<div class="container">
    <h3>List of available data structures.</h3>
    <ul class="list-group list-group-flush">
        {% for item in data %}
        <a href="{{ url_for('data_structs.test_route', d_s=item.gist) }}"
           class="btn list-group-item list-group-item-action">{{ item.display_name }}</a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
